
diskcache

fastapi
fastembed
ipykernel
langchain
langchain-cohere
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-qdrant
psycopg2-binary
cohere
pydantic[email]
pymupdf
pymupdf4llm
pypdf
python-dotenv
supabase
tiktoken
uvicorn[standard]
python-multipart
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic-settings
langchain-classic
openai
groq
qdrant-client
asyncpg
python-slugify
aiofiles